{% extends 'layout.html' %}

{% block content %}
<h2>Gestión de Productos</h2>
<a href="{{ url_for('agregar_producto') }}" class="btn btn-primary mb-3">Agregar nuevo producto</a>
<a href="{{ url_for('logout') }}" class="btn btn-danger mb-3">Cerrar sesión</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Talla</th>
            <th>Color</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Proveedor</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.id }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.categoria }}</td>
            <td>{{ producto.talla }}</td>
            <td>{{ producto.color }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.cantidad_stock }}</td>
            <td>{{ producto.proveedor }}</td>
            <td>
                <!-- Botón de Editar -->
                <a href="{{ url_for('editar_producto', id=producto.id) }}" class="btn btn-warning btn-sm">Editar</a>
                <!-- Botón de Eliminar -->
                <a href="{{ url_for('eliminar_producto', id=producto.id) }}" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de eliminar este producto?')">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
